apiVersion: apps/v1
kind: Deployment
metadata:
  name: microhub-likes
  namespace: ingress
spec:
  replicas: 2
  selector:
    matchLabels:
      app: microhub-likes
  template:
    metadata:
      labels:
        app: microhub-likes
    spec:
      containers:
        - name: microhub-likes
          image: microhubacr.azurecr.io/microhub-likes:5.3
          ports:
            - containerPort: 3001
          livenessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 1
            failureThreshold: 3
          env:
            - name: DATABASE_URL
              value: postgresql://postgres:postgres@microhub-postgres.ingress.svc.cluster.local:5432/microservices
---
apiVersion: v1
kind: Service
metadata:
  name: microhub-likes-service
  namespace: ingress
spec:
  type: ClusterIP
  selector:
    app: microhub-likes
  ports:
    - port: 3001
      targetPort: 3001
