name: CI/CD for AKS for microservices

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: microhub-posts

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to ACR
      run: |
        echo ${{ secrets.ACR_PASSWORD }} | docker login \
        ${{ secrets.ACR_LOGIN_SERVER }} \
        -u ${{ secrets.ACR_USERNAME }} --password-stdin

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ github.sha }} ./posts

    - name: Push Docker image
      run: |
        docker push ${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

    - name: Setup kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG_DATA }}" | base64 --decode > ~/.kube/config

    - name: Deploy to Kubernetes
      run: |
        kubectl set image deployment/microhub-posts \
        microhub-posts=${{ secrets.ACR_LOGIN_SERVER }}/microhub-posts:${{ github.sha }} \
        -n ingress
