name: CI/CD for MicroHub microservices

on:
  push:
    branches:
      - main

env:
  ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
  IMAGE_TAG: ${{ github.sha }}
  NAMESPACE: microhub

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to ACR
      run: |
        echo ${{ secrets.ACR_PASSWORD }} | docker login \
        ${{ secrets.ACR_LOGIN_SERVER }} \
        -u ${{ secrets.ACR_USERNAME }} --password-stdin

    # ------------------------
    # Build & push posts image
    # ------------------------
    - name: Build & Push posts image
      run: |
        docker build -t $ACR_LOGIN_SERVER/microhub-posts:${IMAGE_TAG} ./posts
        docker push $ACR_LOGIN_SERVER/microhub-posts:${IMAGE_TAG}

    # ------------------------
    # Build & push users image
    # ------------------------
    - name: Build & Push users image
      run: |
        docker build -t $ACR_LOGIN_SERVER/microhub-users:${IMAGE_TAG} ./users
        docker push $ACR_LOGIN_SERVER/microhub-users:${IMAGE_TAG}

    # ------------------------
    # Build & push likes image
    # ------------------------
    - name: Build & Push likes image
      run: |
        docker build -t $ACR_LOGIN_SERVER/microhub-likes:${IMAGE_TAG} ./likes
        docker push $ACR_LOGIN_SERVER/microhub-likes:${IMAGE_TAG}

    # ------------------------
    # Setup kubeconfig
    # ------------------------
    - name: Setup kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG_DATA }}" | base64 --decode > ~/.kube/config

    # ------------------------
    # Deploy posts
    # ------------------------
    - name: Deploy posts
      run: |
        kubectl set image deployment/microhub-posts \
        microhub-posts=$ACR_LOGIN_SERVER/microhub-posts:${IMAGE_TAG} \
        -n $NAMESPACE

    # ------------------------
    # Deploy users
    # ------------------------
    - name: Deploy users
      run: |
        kubectl set image deployment/microhub-users \
        microhub-users=$ACR_LOGIN_SERVER/microhub-users:${IMAGE_TAG} \
        -n $NAMESPACE

    # ------------------------
    # Deploy likes
    # ------------------------
    - name: Deploy likes
      run: |
        kubectl set image deployment/microhub-likes \
        microhub-likes=$ACR_LOGIN_SERVER/microhub-likes:${IMAGE_TAG} \
        -n $NAMESPACE
